.header {
  img {
    max-width: 50%;
    @include desktop {
      max-width: 100%;
    }
  }
  .header-bar {
    @include desktop {
      padding: 0px 72px;
    }
  }
  .icon-desktop {
    @include desktop {
      display: block;
    }
  }
  .search-bar {
    width: 432px;
  }
}
