<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
    
      <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />
    

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Squada+One&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/d7eb9595f0.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="header bg-light border-bottom">
      <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light py-0">
        <div class="container-fluid header-bar px-0">
          <a class="navbar-brand py-0" href="#"><img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/5d91d2de215d774a360093b4739a960a9ba68be0/week8-202207/logo.svg" alt="logo"></a>
          <div class="navbar-icon d-flex  align-items-center ">
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center bar-box ">
              <li class="input-group search-bar border-start py-6 border-start">
                <input type="text" class="form-control bg-light border-0  " placeholder="搜尋作品名稱、藝術家名稱" >
                <a class="input-group-text border-0 bg-light pe-7 ps-4  text-decoration-none" href="#"> <i class="fa-solid fa-magnifying-glass fs-3 "></i></a>
               
              </li>
              <li class="nav-item px-7 py-6 border-start">
                <a class="nav-link active" aria-current="page" href="#"><p class="fw-bold">探索</p></a>
              </li>
              <li class="nav-item px-7 py-6 border-start">
                <a class="nav-link active" aria-current="page" href="#"><p class="fw-bold">市值</p></a>
              </li>
              <li class="nav-item px-7 py-6 border-start">
                <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-wallet d-none d-lg-block fs-3"></i></a>
              </li>
              
              
            </ul>
          </div>
      </nav>
    </div>
   </div>
    <%- contents %>
 
    <footer class="footer bg-light border-top pt-1 pb-4">
      
      <p class="text-center fw-light pt-3 border-top border-4 ">© ART NFT. All Rights Reserved</p>
    </footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    
    <script src="./assets/js/all.js"></script>
    


    
  </body>

</html>